// Base

:root {
  // Todo: calc() container padding
  --max-width: 10rem;
  --container-padding: 2rem;
}

@media (min-width: 60em) {
  :root {
    --container-padding: 10rem;
  }
}

@media (min-width: 80em) {
  :root {
    --container-padding: 20rem;
  }
}

@media (min-width: 100em) {
  :root {
    --container-padding: 35rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui;
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

// Snapr

.scroll-snapr {
  overflow-y: scroll;
  scroll-snap-type: x mandatory;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-snapr {
  display: flex;
  // flex-direction: row;
}

.scroll-snapr > * {
  scroll-snap-align: start;
  flex: 1 0 calc(100% / 3);
}

.scroll-snapr__dots {
  display: flex;
}

.scroll-snapr__dots > * {
  margin-right: 1rem;
}

.scroll-snapr__dot {
  box-shadow: inset 0 0 0 1px hsl(0 0% 0%);
  padding: 0.1rem;
}
.scroll-snapr__dot--current {
  box-shadow: inset 0 0 0 2px hsl(0 100% 50%);
}

.scroll-snapr__prev-next button {
  cursor: pointer;
}

.scroll-snapr__prev svg {
  transform: rotate(180deg);
}

// Utils

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// Visual Styling

.scroll-snapr {
  // box-shadow: 0 0 0 1px hsl(0 0% 0%);
  scroll-padding-left: var(--container-padding);
  // padding-right: 200px;
}

.scroll-snapr {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.scroll-snapr > * {
  display: inline-block;
  // min-width: 20rem;
  background: lightyellow;

  &:nth-child(2n) {
    background: lightblue;
  }
}

.scroll-snapr > *:last-child::after {
  width: var(--container-padding);
  border: 1px solid transparent;
  content: "";
  display: block;
  left: 100%;
  position: relative;
  top: -100%;
}

.slide-content {
  padding: 2rem;
}
